In [5]:
import pandas as pd
import numpy as np
import re
import nltk
from sklearn.manifold import TSNE

In [ ]:
df = pd.read_csv('data/data.csv', index_col=None)
keywords = df['keywords'].values
x = set()
for keyword in keywords:
    x |= set(keyword.split(','))
x = list(x)
result = []
for keyword in keywords:
    result.append([1 if i in keyword else 0 for i in x])
result

In [14]:
len(result)

31802

In [15]:
len(result[0])

2308

In [17]:
result = np.array(result)

In [18]:
result_embedded = TSNE(n_components=2).fit_transform(result)

In [20]:
result_embedded.shape

(31802, 2)

In [26]:
df_result = pd.DataFrame(result_embedded)
df_result['id'] = df['id']
df_result.rename({0:'x', 1:'y'}, axis=1, inplace=True)
df_result.head(3)

           x         y              id
0  31.901051 -5.286562  COM_KITE_001SM
1  38.865433  5.421201  COM_KITE_002SM
2  -4.809175 -9.269807  COM_KITE_003SM

In [27]:
df_result.to_csv('db/tsne.csv', index=False)